//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #b200e8; // Changing primary color
$font-family-sans-serif: IRANSans;
$font-family-monospace: IRANSans;